<h1> <%= @place.name %> </h1>

<h2> Posts </h2>
<ul>
    <% for post in @place.posts %>
        <li><%= post.title %> </li>
        <li><%= post.description %></li>
        <li><%= post.posted_on %></li>
    <% end %>
</ul>

<p>
<a href="/posts/new?place_id=<%= @place.id %>"> New Post </a>
</p>

<p>
<a href="/places"> Back to all places </a>
</p>

<p>
<%= button_to "Delete this place", @place, method: :delete %>
</p>